<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='assets/img/logo-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" href="{{ url_for('static', filename='assets/img/logo-192x192.png') }}" sizes="192x192"/>

    <title>{% block title %}{% endblock %} - Inspai</title>

    <link href="{{ url_for('static', filename='assets/css/plugins.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

</head>

<body class="v-dark dsn-ajax">


<div id="dsn_preloader" class="preloader">

    <div class="dsnload p-absolute">
        <span class="dsnload__row">
            <span class="dsnload__img">
            <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="InspAi" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="InspAi" decoding="async" loading="lazy"/>
            </span>
        </span>
        <span class="dsnload__row dsnload__row--sibling">
            <span class="dsnload__img">
                 <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="InspAi" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="InspAi" decoding="async" loading="lazy"/>
            </span>
        </span>
        <span class="dsnload__row dsnload__row--sibling">
            <span class="dsnload__img">
                <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="InspAi" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="InspAi" decoding="async" loading="lazy"/>
            </span>
        </span>
        <span class="dsnload__row dsnload__row--sibling">
            <span class="dsnload__img">
               <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="InspAi" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="InspAi" decoding="async" loading="lazy"/>
            </span>
        </span>


    </div>
    <svg width="100%" height="100%" viewBox="0 0 100 100" class="v-middle" preserveAspectRatio="xMinYMin meet"
         fill="none">
        <linearGradient id="linearColors" x1="0" y1="0" x2="1" y2="1">
            <stop offset="0%" stop-color="var(--theme-color)"></stop>
            <stop offset="50%" stop-color="var(--border-color)"></stop>
            <stop offset="100%" stop-color="var(--assistant-color)"></stop>
        </linearGradient>
        <path class="dsn-progress-path" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
    <div class="loading-circle v-middle">
        <p class="loading-count v-middle">0</p>
    </div>

    <span class="loading-text text-uppercase mt-30 dsn-container">Loading ...</span>
    <div class="bg-load background-section d-flex align-items-end">
        <svg class="dsn-separator-bottom dsn-icon-assistant-color" width="100%" height="100%" viewBox="0 0 100 10"
             preserveAspectRatio="none">
            <path class="path-anim separator__path" data-dsn-to="M 0 0 C 40 0 55 0 100 0 L 0 0 Z"
                  vector-effect="non-scaling-stroke" d="M 0 0 C 40 16 75 10 100 0 L 0 0 Z"></path>
        </svg>
    </div>

</div>

<main id="main_root" class="main-root">

    <!-- ========== Menu ========== -->
    <header id="site_menu_header" class="site-header  dsn-container d-none dsn-hamburger">
        <div class="main-logo">
            <a href="stories.html" data-dsn-text="InspAI" class="custom-logo-link main-brand effect-ajax" rel="home"
               aria-current="page">
                <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="custom-logo logo-light" alt="InspAI"/>
                <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="custom-logo logo-dark" alt="InspAI"/>
            </a>
        </div>
        <nav class="main-navigation ">
            <div class="menu-cover-title header-container dsn-container">MENU</div>
            <ul id="dsn-primary-list" class="primary-nav h2">
                <li class="nav-item ">
                    <a title="Home" href="service.html" >
                        <span class="overflow">Home</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a title="Service" href="service.html" >
                        <span class="overflow">Service</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a title="Home" href="about-us.html">
                        <span class="overflow">About</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a title="Home" href="contact.html">
                        <span class="overflow">Contact</span>
                    </a>
                </li>
            </ul>
            <div class="container-content  d-flex flex-column justify-content-center section-margin">
                <div class="nav__info">
                    <div class="nav-content">
                        <h5 class="sm-title-block mb-10">Studio</h5>
                        26-30 New Damietta
                        El-Mahalla El-Kubra, SK1 66LM

                    </div>
                    <div class="nav-content mt-30">
                        <h5 class="sm-title-block mb-10">Contact</h5>
                        <p class="links over-hidden mb-1">
                            <a class="link-hover d-block" href="tel:00201004392260" data-hover-text="+00 (2)012 3321">+00 (2)01004392260</a>
                            <a class="link-hover" href="tel:00201024552406" data-hover-text="+00 (2)012 3321">+00 (2)01024552406</a>
                        </p>
                        <p class="links over-hidden"><a class="link-hover" href="mailto:info@dsngrid.com"
                                                        data-hover-text="info@dsngrid.com">info@example.com</a></p>

                    </div>
                </div>
                <div class="nav-social nav-content mt-30">
                    <div class="nav-social-inner p-relative">
                        <h5 class="sm-title-block mb-10">Follow us</h5>
                        <ul style="--dsn-li-name: dsn6;">
                            <li style="--dsn-li-index: 0;"><a href="stories.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Dribbble.</a></li>
                            <li style="--dsn-li-index: 1;"><a href="stories.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Behance.</a></li>
                            <li style="--dsn-li-index: 2;"><a href="stories.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Linkedin.</a></li>
                            <li style="--dsn-li-index: 3;"><a href="stories.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Twitter.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="navbar_toggle" class="navbar-toggle">
            <div class="toggle-icon">
                <div class="toggle-line"></div>
                <div class="toggle-line"></div>
                <div class="toggle-line"></div>
            </div>
            <div class="toggle-text">
                <div class="text-menu">Menu</div>
                <div class="text-open">Open</div>
                <div class="text-close">Close</div>
            </div>
        </div>
        <div class="bg-load background-main"></div>

        <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none"
             class="bg-load dsn-svg-transition">
            <path vector-effect="non-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 z"/>
        </svg>

    </header>
    <!-- ========== End Menu ========== -->

    {% block header %}{% endblock %}
    
    {% block content %}{% endblock %}

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}


</main>
<!-- ========== Cursor ========== -->
<div id="dsn_cursor" class="ball"></div>
<div id="dsn_cursor_inner" class="ball"></div>
<!-- ========== End Cursor ========== -->

<!-- ========== Line BG ========== -->
<div id="line_head"><span class="container"></span></div>
<!-- ========== End Line BG ========== -->


<script src="{{ url_for('static', filename='assets/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/dsn-grid.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  
</body>
  
</html>  
