<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>




<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='assets/img/logo-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" href="{{ url_for('static', filename='assets/img/logo-192x192.png') }}" sizes="192x192"/>

    <title>{% block title %}{% endblock %} - Flaskr</title>

    <link href="{{ url_for('static', filename='assets/css/plugins.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

</head>

<body class="v-dark dsn-ajax">


<div id="dsn_preloader" class="preloader">

    <div class="dsnload p-absolute">
        <span class="dsnload__row">
            <span class="dsnload__img">
            <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="Blackdsn" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="Blackdsn" decoding="async" loading="lazy"/>
            </span>
        </span>
        <span class="dsnload__row dsnload__row--sibling">
            <span class="dsnload__img">
                 <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="Blackdsn" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="Blackdsn" decoding="async" loading="lazy"/>
            </span>
        </span>
        <span class="dsnload__row dsnload__row--sibling">
            <span class="dsnload__img">
                <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="Blackdsn" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="Blackdsn" decoding="async" loading="lazy"/>
            </span>
        </span>
        <span class="dsnload__row dsnload__row--sibling">
            <span class="dsnload__img">
               <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="logo-dark" alt="Blackdsn" decoding="async" loading="lazy"/>
            <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="logo-light" alt="Blackdsn" decoding="async" loading="lazy"/>
            </span>
        </span>


    </div>
    <svg width="100%" height="100%" viewBox="0 0 100 100" class="v-middle" preserveAspectRatio="xMinYMin meet"
         fill="none">
        <linearGradient id="linearColors" x1="0" y1="0" x2="1" y2="1">
            <stop offset="0%" stop-color="var(--theme-color)"></stop>
            <stop offset="50%" stop-color="var(--border-color)"></stop>
            <stop offset="100%" stop-color="var(--assistant-color)"></stop>
        </linearGradient>
        <path class="dsn-progress-path" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
    <div class="loading-circle v-middle">
        <p class="loading-count v-middle">0</p>
    </div>

    <span class="loading-text text-uppercase mt-30 dsn-container">Loading ...</span>
    <div class="bg-load background-section d-flex align-items-end">
        <svg class="dsn-separator-bottom dsn-icon-assistant-color" width="100%" height="100%" viewBox="0 0 100 10"
             preserveAspectRatio="none">
            <path class="path-anim separator__path" data-dsn-to="M 0 0 C 40 0 55 0 100 0 L 0 0 Z"
                  vector-effect="non-scaling-stroke" d="M 0 0 C 40 16 75 10 100 0 L 0 0 Z"></path>
        </svg>
    </div>

</div>

<main id="main_root" class="main-root">

    <!-- ========== Menu ========== -->
    <header id="site_menu_header" class="site-header  dsn-container d-none dsn-hamburger">
        <div class="main-logo">
            <a href="stories.html" data-dsn-text="InspAI" class="custom-logo-link main-brand effect-ajax" rel="home"
               aria-current="page">
                <img src="{{ url_for('static', filename='assets/img/lg.png') }}" class="custom-logo logo-light" alt="InspAI"/>
                <img src="{{ url_for('static', filename='assets/img/lg-l.png') }}" class="custom-logo logo-dark" alt="InspAI"/>
            </a>
        </div>
        <div class="bg-load background-main"></div>

        <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none"
             class="bg-load dsn-svg-transition">
            <path vector-effect="non-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 z"/>
        </svg>

    </header>
    <!-- ========== End Menu ========== -->